* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 100vh;
  background-image: url(img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* centers the button */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /*removes shaking in animation*/
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* Activates animation  */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* Activates animation  */
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* Styling header for mobile */
@media screen and (max-width: 540px) {
  .heading-primary-main {
    display: block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 17.5px;
  }
}

/* Styling header for larger mobile screens / tablets */
@media screen and (min-width: 541px) and (max-width: 620px) {
  .heading-primary-main {
    letter-spacing: 20px;
  }
}

/* Animation -> upper header */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0); /*brings element back to initial possition*/
  }
}

/* Animation -> lower header */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Animation -> botton  */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0); /*brings element back to initial possition*/
  }
}

/* Button Styling */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s; /* sets button movement speed */
  position: relative;
}

.btn:hover {
  transform: translateY(-3px); /*raises the button when hovered*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 1: shadow X | 2:shadow Y | 3:blur | 4: color*/
}

.btn:active {
  transform: translateY(-1px); /*lowers the button when clicked*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/* Button expanding animation */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6); /* increases the button behind */
  opacity: 0;
}

/* Activates button animation */
.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; /*sets the value of 0% when the animation starts*/
}

/* Color / Spacing variables */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1700px;
}

/* Cards Row Styling */

.hero-section {
  background-image: url(img/lower-img.jpg);
  /* background-size: cover; */
  /* background-position: center; */
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  padding-top: 88px;
}

/* Styles the grid -> width | gaps */
.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

/* Styles cards display on smaller screens */
@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

/* Creates styled block before .card class */
.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

/* Adds backround image to each cards */
.first__background {
  background-image: url(img/survival.jpg);
}

.second__background {
  background-image: url(img/couple.jpg);
}

.third__background {
  background-image: url(img/cuisine.jpg);
}

.fourth__background {
  background-image: url(img/contact.jpg);
}

/* Styles the card background image */
.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trasnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card__background:hover {
  filter: brightness(1.1) saturate(1.3) contrast(1);
}

/* Enlarge cards when hovered */
.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

/* Adds blur to unhovered cards & their background image */
.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

/* Positions content container inside the cards */
.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
