* {
  font-family: "Lato", sans-serif;
}

/*to contain the parallax*/
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
/*to position the text in the container*/
.heading {
  margin-bottom: 60px;
  text-align: center;
}

/*to style the first sentence in the heading*/
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 0 0 5px #100f0f;
}

/*to style the second sentence in the heading*/
.heading-primary-sub {
  display: block;
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 0 0 10px #0e0e0e;
  font-style: italic;
}

/*to style and position and style both sections of the page*/
.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  /* ============ Set default color ===================================  */
  /* color: white;
    text-shadow: 0 0 5px #000; */
}

/*On phones the parallax is disabled*/
@media only screen and (max-width: 480px) {
  .parallax {
    background-attachment: scroll;
    background-image: url(../img/forrest.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
  }
}

/*On tablets and desktops the parallax is enabled*/
@media only screen and (min-width: 481px) {
  .parallax {
    background-image: url(../img/forrest.jpg);
    height: 100vh;
    /*to create the parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
  }
}

/*to style the 2nd section*/
.static {
  background: whitesmoke;
  height: 70vh;
}

/*to align the container to the top right of the section*/
.container-fluid {
  align-self: flex-start;
}
/*add space between my
.justify-content-between{
  padding-top: 20px;
}
/*to give the cards space between them and the colon*/
.card {
  padding: 30px;
  margin: 40px;
}

/*to style the card header*/
.card-header {
  background-color: white;
}

/*to align the card title to the center*/
.card-title {
  text-align: center;
}

/*to align and style the text in the cards*/
.card-text {
  color: #202428;
  text-shadow: none;
  text-align: center;
}

/*to align the social media buttons*/
.social {
  text-align: center;
}
/*to solve lighthouse remark: contrast ratio*/
#emailHelp{
  color: #52595f;
  font-style: italic;
}
/*to style the submit button*/
#myButton{
  color: #2a2a2a;
}
/*to give the button a hover effect*/
#myButton:hover{
  color: whitesmoke;
  box-shadow: 0 12px 16px 0 darkseagreen, 0 17px 50px 0 darkseagreen;
}
/*to color the links (lighthouse remark)*/
a {
  color: #0056b2;
}
