html body {
  background-color: whitesmoke;
  text-align: justify;
}
.site-banner1 h1 {
  font-size: 2cm;
  text-align: center;
  padding-bottom: 200px;
}
.site-banner1 {
  padding-top: 30px;
  padding-left: 10px;
}
.site-banner2 {
  padding-top: 40px;
  padding-left: 10px;
  margin-left: -15px;
}
.site-banner3 {
  padding-top: 30px;
  margin-left: -16px;
}
.site-banner4 {
  padding-bottom: 90px;
  padding-top: 30px;
  margin-left: -16px;
}

/* Positions navbar links */
.navbar-links {
  margin-left: auto;
}
.my-items {
  align-items: center;
}

    .carousel-inner img{
      object-fit: cover;
      background-position: center;
      height:32rem;
      width: 32rem;
    }
.card-body  {background-color: burlywood}